
/* Your CSS Code here. */

.holder{
	display:grid;
	grid-template-columns: repeat(2,100px);
	grid-template-rows: repeat(2,100px);
}


.item{
	width:100px;
	height:100px;
}

.item-1{
	background:blue;
}
.item-2{
	background:red;
}
.item-3{
	background:green;
}
.item-4{
	background:yellow;
}